<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto text-center">
      <img src="/images/Google-Chat-Logo.jpg" width="300px" alt="" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 mx-auto">
      <ul id="messages">
        <li class="left">this is left message</li>
        <li class="left">this is left message</li>
        <li class="right">this is left message</li>
        <li class="left">this is left message</li>
        <li class="right">this is left message</li>
        <li class="left">this is left message</li>
      </ul>
    </div>
  </div>
</div>

<form id="form" action="">
  <input id="input" autocomplete="off" />
  <button id="sendBTN" type="button">Send</button>
</form>

<script>
  let sendBTN = document.getElementById("sendBTN");
  let input = document.getElementById("input");
  let messageBOX = document.getElementById("messages");
  sendBTN.addEventListener("click", function (e) {
    e.preventDefault();
    let EleLI = document.createElement("li");
    EleLI.innerText = input.value;
    EleLI.classList.add("right");
    messageBOX.appendChild(EleLI);
  });
</script>
