.container {
  min-height: 120vh;
}
/*Flip Box CSS Start*/
.flip-box-inner {
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateX(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
/*  background-color: tomato;*/
/*  color: #fff;*/
/*  width: 200px;*/
/*  height: 200px;*/
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}

.flip-box-back {
/*  background-color: navy;*/
/*  color: #fff;*/
/*  width: 200px;*/
/*  height: 200px;*/
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  transform: rotateX(180deg);
  top: 0;
  position: relative;
}
/*Flip Box CSS Start*/