<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <h1 class="text-center">Text Utility</h1>
            <form #utilityForm="ngForm" (ngSubmit)="sendData(utilityForm.value)">
                <div class="form-group">
                    <label for="">Enter Text Below</label>
                    <textarea required="" (keyup)="getValue(strText.value)" #strText ngModel name="text_util" rows="10" class="form-control"></textarea>
                    <p class="text-danger">Text Field is required</p>
                    Character Count: {{charCount}} | Word Count: {{wordCount}}
                </div>
                <button (click)="textToUpper(strText.value)">UpperCase</button>
                <button [disabled]="utilityForm.invalid" (click)="textToLower(strText.value)">LowerCase</button>
            </form>
            <h1>{{text}}</h1>
        </div>
    </div>
</div>