<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
                <% usersList.forEach(function(user){ %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td><a href="view-user/<%= user.id %>" class="btn btn-primary">View User</a></td>
                </tr>
                <% }); %>
            </table>
        </div>
    </div>
</div>